.notes {
    display: flex;
    align-items: center;
    justify-content: center;
    
    textarea {
        width: calc(100% - 2em);
        height: calc(100% - 2em);
        border: none;
        background: #0005;
        color: #fff;
    }
}