dialog {
  display: flex;
}

.alert {
    border-radius: 10px;
    color: white;
    font-weight: 700;
    font-family: 'Noto Serif', serif;
    animation: fadeInOut ease 8s;
    opacity: 0;
  
    &--info {
      background: #0044;
    }
  
    &--success {
      background: #3f35
    }
  
    &--warning {
      background: #f335;
    }
  
    &--error {
      background: #f00;
    }
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
  
    25%, 75% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }