.alert {
    border-radius: 10px;
    background: #9004;
    color: white;
    font-weight: 700;
    font-family: 'Noto Serif', serif;
    animation: fadeInOut ease 8s;
    opacity: 0;
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
  
    25%, 75% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }