.root {
    width: 25px;
    height: 25px;
    font-family: Roboto Mono,Roboto,courier,times,serif;
    background: rgba(0,0,0,0.8);
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 25px;
    grid-area: 8/8;
    z-index: 1;
}