.mapRoot {
    width: 100%;
    height: 100%;
    position:absolute;
    z-index: 0;
    display: inline-grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.tree {
    width: 25px;
    height: 25px;
    
    .trunk {
        fill: #684912
    }
    
    .leaves {
        fill: #f0f
    }
}

.rock {
    width: 25px;
    height: 25px;

    .mainrock {
        fill:#646464
    }
    .lightrock {
        fill:#969696
    }
    .shadowrock {
        fill:#323232
    }
}

.crabgrass {
    width: 25px;
    height: 25px;
    fill: #030;
}

.spring {
    .tree {
        .leaves {
            fill: springgreen;
        }
    }
}

.summer {
    .tree {
        .leaves {
            fill: forestgreen;
        }
    }
}

.autumn {
    .tree {
        .leaves {
            fill: darkorange;
        }
    }
}

.winter {
    .tree {
        .leaves {
            fill: snow;
        }
    }
}